# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
app-1/node_modules
app-2/node_modules
app-3/node_modules
app-4/node_modules
app-5/node_modules
app-6/node_modules
app-7/node_modules
app-8/node_modules
app-8_1/node_modules
app-9/node_modules
app-9_1/node_modules
app-10/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
app-1/build
app-2/build
app-3/build
app-4/build
app-5/build
app-6/build
app-7/build
app-8/build
app-8_1/build
app-9/build
app-9_1/build
app-10/build
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
