.form__action button {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0.4rem 1.5rem;
  cursor: pointer;
  transition: padding 0.4s ease;
}

.form__action button:hover {
  padding: 0.4rem 2rem;
}
